/* --------General styles-------- */

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --primary-white-color: #ffffff;
  --grey-bg-color: #f5f4fa;
  --second-logo-color: #000000;
  --interactive-btn-color: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --grey-soc-item-color: #afb1b8;
  --cards-border-color: #eeeeee;
  --transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------Header-------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  text-decoration: none;
}

.header-logo-decoration {
  color: var(--second-logo-color);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-section {
  display: flex;
  align-items: center;
}
.header-list-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-title-color);
  text-decoration: none;

  transition: color var(--transition-default);
}

.active-page {
  position: relative;
  color: var(--accent-color);
}

.active-page::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-list-item:hover,
.header-list-item:focus {
  color: var(--accent-color);
}

.header-adress-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-adress-list-item {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;
  text-decoration: none;

  transition: color var(--transition-default);
}

.header-address-icon {
  margin-right: 10px;
  fill: currentColor;

  transition: fill var(--transition-default);
}

.header-adress-list-item:hover,
.header-adress-list-item:focus {
  color: var(--accent-color);
}

.header-adress-list-item:hover .header-address-icon,
.header-adress-list-item:focus .header-address-icon {
  fill: var(--accent-color);
}

/* --------Section Hero-------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/index-page-img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--primary-white-color);
  text-transform: uppercase;
}

.hero-button {
  margin-top: 30px;
  padding: 10px 32px;

  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-default);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--interactive-btn-color);
}

/* --------Section Feature-------- */

.feature-list-item::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 120px;

  background-color: var(--grey-bg-color);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url("../images/index-page-img/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/index-page-img/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/index-page-img/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/index-page-img/astronaut.svg");
}

.feature-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;

  color: var(--primary-title-color);
  text-transform: uppercase;
}

.feature-list-text {
  line-height: 1.71;
}

.feature-list {
  display: flex;
  gap: 30px;
}

/* --------Section Activity-------- */

.activity-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--primary-title-color);
  text-align: center;
}

.activity {
  padding-top: 0;
}

.activity-list {
  display: flex;
  gap: 30px;
}

.activity-thumb {
  position: relative;
}

.activity-thumb-text {
  position: absolute;
  bottom: 0;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

/* --------Section Our team-------- */

.team {
  background-color: var(--grey-bg-color);
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--primary-title-color);
  text-align: center;
}

.team-card {
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--primary-title-color);
  text-align: center;
}

.team-role {
  font-size: 16px;
  line-height: 1.19;

  color: inherit;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-soc-list {
  display: flex;

  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition-default);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--primary-white-color);
}

.team-soc-icon {
  fill: var(--grey-soc-item-color);

  transition: fill var(--transition-default);
}

/* --------Clients-------- */

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-title-color);
  text-align: center;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--grey-soc-item-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color var(--transition-default);
}

.clients-icon {
  fill: var(--grey-soc-item-color);

  transition: fill var(--transition-default);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}

.clients-list-link:hover .clients-icon,
.clients-list-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* --------Backdrop + modal section-------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-default),
    visibility var(--transition-default);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 581px;
  width: 528px;
  border-radius: 4px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--transition-default);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

  transition: fill var(--transition-default);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
}

.modal-form-title {
  width: 100%;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.modal-form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-input-content {
  position: relative;
}

.modal-form-input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color var(--transition-default);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill var(--transition-default);
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-form-input:focus {
  outline-color: var(--accent-color);
}

.comment-area {
  margin-bottom: 20px;
}

.comment-area textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color var(--transition-default);
}

.comment-area textarea:focus {
  outline-color: var(--accent-color);
}

.comment-area textarea:focus::placeholder {
  color: var(--accent-color);
}

.comment-area textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: color var(--transition-default);
}

.modal-policy-input {
}

.modal-policy-label {
  color: var(--primary-text-color);
  line-height: 1.71;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-policy-label span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-title-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: fill var(--transition-default);
  transition: background-color var(--transition-default);
  transition: border-color var(--transition-default);
}

.modal-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-policy-input:checked + .modal-policy-label span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--primary-white-color);
}

.modal-policy-input:focus + .modal-policy-label span {
  border-color: var(--accent-color);
}

.modal-form-btn {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 52px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  cursor: pointer;
  transition: background-color var(--transition-default);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--interactive-btn-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* --------Footer-------- */

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  text-decoration: none;
}

.address {
  margin-top: 20px;
}

.footer-logo-decoration {
  color: var(--primary-white-color);
}

.footer-address-link {
  display: block;
  font-style: normal;
  line-height: 1.71;

  color: var(--footer-link-color);
  text-decoration: none;

  transition: color var(--transition-default);
}

.footer-list {
  margin-bottom: 9px;
}

.footer-list:last-child {
  margin-bottom: 0;
}

.footer-map {
  display: block;
  font-style: normal;
  line-height: 1.71;

  color: var(--primary-white-color);
  text-decoration: none;

  transition: color var(--transition-default);
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-map:hover,
.footer-map:focus {
  color: var(--accent-color);
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

.footer-right {
  margin-right: 93px;
}

.footer-follow-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-soc-list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-default);
}

.footer-soc-icon {
  fill: var(--primary-white-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  color: var(--primary-white-color);
}

.footer-form-label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-form-input {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  background-color: inherit;
  transition: outline-color var(--accent-color);
  font-size: 16px;
  color: var(--primary-white-color);
}

.footer-form-input:focus {
  outline-color: var(--accent-color);
}

.footer-form-input::placeholder {
  line-height: 1.25;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn-icon {
  margin-left: 10px;
  fill: currentColor;
}

.footer-input-btn {
  display: flex;
  align-items: baseline;
}

.footer-form-btn {
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  transition: background-color var(--transition-default);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--interactive-btn-color);
}

/* --------Portfolio page-------- */

.radiobutton-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.radiobutton-list-item {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  color: var(--primary-title-color);
  text-align: center;
  background-color: var(--grey-bg-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.radiobutton-list-item:hover,
.radiobutton-list-item:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-list-item {
  width: calc((100% - 60px) / 3);
}

.cards-link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;

  transition: box-shadow var(--transition-default);
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  text-decoration: none;
}

.cards-text {
  font-size: 16px;
  line-height: 1.87;
}

.cards-content {
  padding: 20px 24px;
  border-right: 1px solid var(--cards-border-color);
  border-bottom: 1px solid var(--cards-border-color);
  border-left-style: 1px solid var(--cards-border-color);
}

.cards-thumb {
  position: relative;
  overflow: hidden;
}

.cards-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-default);
  overflow: auto;
}

.cards-link:hover .cards-overlay-text,
.cards-link:focus .cards-overlay-text {
  transform: translateY(0);
}
