.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  text-decoration: none;

  &--black {
    color: var(--second-logo-color);
  }

  &--white {
    color: var(--primary-white-color);
  }
}
