.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: $accent-color;
  text-decoration: none;

  &--black {
    color: $second-logo-color;
  }

  &--white {
    color: $primary-white-color;
  }
}
