.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-title-color);
  text-align: center;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--grey-soc-item-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color var(--transition-default);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: var(--grey-soc-item-color);

  transition: fill var(--transition-default);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
