.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__content {
  display: flex;
  align-items: baseline;
}

.footer__left {
  margin-right: 70px;
}

.footer__right {
  margin-right: 93px;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  text-decoration: none;
}

.footer__logo--white {
  color: var(--primary-white-color);
}

.footer__list {
  margin-bottom: 9px;
}

.footer__list:last-child {
  margin-bottom: 0;
}

.address {
  margin-top: 20px;
}

.footer__link {
  display: block;
  font-style: normal;
  line-height: 1.71;

  color: var(--footer-link-color);
  text-decoration: none;

  transition: color var(--transition-default);
}

.footer__map {
  display: block;
  font-style: normal;
  line-height: 1.71;

  color: var(--primary-white-color);
  text-decoration: none;

  transition: color var(--transition-default);
}

.footer__link:hover,
.footer__link:focus,
.footer__map:hover,
.footer__map:focus {
  color: var(--accent-color);
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.fsoc__list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
}

.fsoc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-default);
}

.fsoc__icon {
  fill: var(--primary-white-color);
}

.fsoc__link:hover,
.fsoc__link:focus {
  background-color: var(--accent-color);
}

.footer__form {
  color: var(--primary-white-color);
}

.form__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.form__input {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  background-color: inherit;
  transition: outline-color var(--accent-color);
  font-size: 16px;
  color: var(--primary-white-color);
}

.form__input:focus {
  outline-color: var(--accent-color);
}

.form__input::placeholder {
  line-height: 1.25;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.button__icon {
  margin-left: 10px;
  fill: currentColor;
}

.footer__button {
  display: flex;
  align-items: baseline;
}

.form__button {
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  transition: background-color var(--transition-default);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--interactive-btn-color);
}
